parameters:
    stubFiles:
        - stubs/FilamentMacroable.stub

services:
    -
        class: Agenciafmd\Admix\PHPStan\FilamentMacroMethodsExtension
        tags:
            - phpstan.broker.methodsClassReflectionExtension
    -
        class: Agenciafmd\Admix\PHPStan\WithScopesBuilderMethodsExtension
        tags:
            - phpstan.broker.methodsClassReflectionExtension
